<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">My Company Name</a>
      by <a href="mail_to:jjv329@gmail.com">Jon Vollmer</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>